.table-width {
  width: 90%;
  margin: 0 auto;
} 

.center {
  text-align: center;
}

.table-container {
  width: 100%;
  overflow-x: auto;  // Makes the container scrollable horizontally
  -webkit-overflow-scrolling: touch;  // Enables smooth scrolling on iOS
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    thead{
      th {
        position: relative;
        text-align: left; 
        padding:  12px;
        text-align: center;
        background-color: #a4afc8;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        white-space: nowrap; // Prevents text wrapping
        &:first-child{
          border-top-left-radius: 10px;
        }
        &:last-child {
          border-top-right-radius: 10px;
        }
    }
    }
    
    td {
      padding: 12px;
      font-size: 14px;
    }
  }
  tr {
    &:hover{
      background-color: #f5f5f5; 
    }
  }
}

fa-icon {
  margin-left: 5px; // Add some spacing between the text and the icon
}
  

.odd-row {
  background-color: #f4f6f8; /* Light gray background for odd rows */
}

.even-row {
  background-color: #ffffff; /* White background for even rows */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
.search-block {
  p {
    color: #a4afc8;
    font-size: 14px;
    font-weight: bold;
    width: 40%;
    padding-top: 15px;
    padding-left: 4px;
    text-transform: uppercase;
  }

}

.search-bar {
  font-size: 15px;
  width: 40%;
  height: 40px;
  padding: 0px 15px;
  background-color: #a4afc8;
  color: #fff;
  border: none;
  border-radius: 7px;
  &::placeholder {
    color: #fff;
  }
}

.align-top {
  display: flex;
}

.table-controller {
  display : flex;
  justify-content: space-between; 
  button {
    color: #fff;
    background: #a4afc8;
    border: none;
    padding: 7px 10px;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 10px;
  }
  span {
    color: #7a7a7a;
    font-weight: bold;
    font-size: 12px;
  }
} 

.dynamic-row {
  display: flex;
  label {
    color: #a4afc8;
    font-weight: bolder;
    font-size: 13px;
    padding: 10px;
  }
  select{
    background-color: #a4afc8;
    border: none;
    color: #fff;
    padding: 10px;
  }
}

.icons-align {
  margin-right: 4px;
}

.sort-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8em; /* Adjust the size as needed */
  opacity: 0.5;
  transition: opacity 0.2s;
}

.sort-icon.active {
  opacity: 1;
  font-weight: bold;
  color: #000;
}

::ng-deep th .svg-inline--fa {
  height: 10px !important;
}

th.id {
  width: 50px;
}

th.title {
  width: 150px;
}

th.price {
  width: 100px;
}

th.description {
  width: 300px;
}

th.category {
  width: 150px;
}

th.image {
  width: 70px;
}

th.rating-rate {
  width: 100px;
}

th.rating-count {
  width: 100px;
}




