
<div class="flex">
    <div class="shopping-cart">
        <h2>Shopping Cart</h2>
        <form (ngSubmit)="additem()">
            <label for="itemName">Item Name: </label>
            <input type="text" id="itemName" [(ngModel)]="newItems.itemName" name="itemName" required> 
        
            <label for="itemCode">Item Code: </label>
            <input type="text" id="itemCode" [(ngModel)]="newItems.itemCode" name="itemCode" required> 
        
            <label for="Price">Price: </label>
            <input type="text" id="Price" [(ngModel)]="newItems.Price" name="Price" required> 

            <label for="Quantity">Price: </label>
            <input type="number" id="Quantity" [(ngModel)]="newItems.Quantity"  name="Quantity" required> 
        
            <label for="Brand">Brand: </label>
            <input type="text" id="Brand" [(ngModel)]="newItems.Brand" 
             name="Brand" required> 
        
            <button type="submit"> {{ editingIndex !== null ? 'Update' : 'Submit' }}</button>
        </form>
    </div>

    <app-shopping-table
    [items]="items"
    [editingIndex]="editingIndex"
    (increment)="incrementQuantity($event)" 
    (decrement)="decrementQuantity($event)"
    (edit)="saveEdit($event)"
    (delete)="deleteItem($event)"></app-shopping-table>

</div>




